<h2>今日も1日おつかれさま！
  <br/>あなたにとって明日も良い日になりますように。<br>
</h2>

<img alt="SMILE" src="/assets/uyuniko.jpg" />

<h2>1日をふりかえり、よかった事を書き出していこう！</h2>

<%= render 'form', diary: @diary %>
<%= link_to 'TOPに戻る', diaries_path %>